@use 'base/variables' as v;
@use 'base/mixins' as m;


.contenedor-app {
    @include m.tablet{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }

    .imagen {
        height: 20rem;
        background-image: url(../img/1.jpg);
        background-size: cover;
        background-position: center center;
        @include m.tablet{
            height: auto;
        }
    }

    .app{
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0rem;
        @include m.tablet{
            overflow: scroll;
        }
        // Elimina el fondo del track
    &::-webkit-scrollbar {
      width: 8px;   // solo el grosor
    }
    &::-webkit-scrollbar-track {
      background: transparent; // 👈 sin fondo
    }
    &::-webkit-scrollbar-thumb {
      background: #888;         // color de la barrita
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    }
}

.barra{
    margin: v.$separacion 0;

    @include m.tablet{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .boton{
        @include m.boton(v.$negro, v.$blanco);
        margin: 0;
    }
}